<div class="min-h-screen bg-gradient-to-b from-gray-900 to-black text-white py-20 px-6 md:px-20">
    <h2 class="text-4xl font-bold text-center mb-12 text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-fuchsia-500">
      Experience
    </h2>
  
    <div class="relative max-w-3xl mx-auto border-l-2 border-gradient-to-b from-pink-500 to-orange-400 pl-8">
      <div class="absolute left-[-10px] top-3 bg-gradient-to-r from-orange-400 to-pink-500 w-4 h-4 rounded-full shadow-md"></div>
  
      <div class="bg-[#111827] rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-xl font-semibold text-white">
            Software Developer and AI
          </h3>
          <span class="text-sm bg-pink-800 text-white px-2 py-1 rounded-full">Constructor Tech</span>
        </div>
  
        <div class="text-sm text-gray-400 flex items-center space-x-4 mb-3">
          <span><i class="fas fa-calendar-alt mr-1 text-pink-500"></i>03/2025 - 06/2025</span>
          <span><i class="fas fa-map-marker-alt mr-1 text-pink-500"></i>Bremen Germany</span>
        </div>
  
        <p class="text-gray-300 mb-4">
          Developed a Web Application and Deployed on Cloud Platform.
          Sucessfully Tested AI for Crack Detection in Underwater Constructions with using Deep Learning and AI.
        </p>
  
        <div class="flex flex-wrap gap-2">
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Machine Learning</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Deep Learning</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">PyTorch</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">TensorFlow</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Artificial </span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">AI agents and wrapper</span>
          
          
          
        </div>
      </div>


      <div class="bg-[#111827] rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-xl font-semibold text-white">
            Full-Stack Developer
          </h3>
          <span class="text-sm bg-pink-800 text-white px-2 py-1 rounded-full">Digital Techsoft, </span>
        </div>
  
        <div class="text-sm text-gray-400 flex items-center space-x-4 mb-3">
          <span><i class="fas fa-calendar-alt mr-1 text-pink-500"></i>11/2022 - 04/2023</span>
          <span><i class="fas fa-map-marker-alt mr-1 text-pink-500"></i>New Delhi, India</span>
        </div>
  
        <p class="text-gray-300 mb-4">
          Maintained and enhanced SaaS web applications using React, Angular, TypeScript, and SQL, improving stability and user experience for thousands of users
        </p>
        <p class="text-gray-300 mb-4">
          Redesigned landing pages with CSS3, Material UI, and Tailwind CSS, boosting user engagement by 20%.
        </p>
        <p class="text-gray-300 mb-4">
          Deployed microservices using Docker and AWS, reducing deployment times by integrating automation into deployment workflows.
        </p>
        <p class="text-gray-300 mb-4">
          Implemented and optimized CI/CD pipelines with GitHub Actions, automating tests and deployments to accelerate release cycles and ensure high reliability.
        </p>
      
  
        <div class="flex flex-wrap gap-2">
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Frontend</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Backend</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Dockers</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">CI/CD Pipelines</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">GitHub Actions</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">AWS Cloud</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Agile</span>
        </div>
      </div>

      <div class="bg-[#111827] rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-between mb-2">
          <h3 class="text-xl font-semibold text-white">
            Web Developer
          </h3>
          <span class="text-sm bg-pink-800 text-white px-2 py-1 rounded-full">Quantum IT Innovation </span>
        </div>
  
        <div class="text-sm text-gray-400 flex items-center space-x-4 mb-3">
          <span><i class="fas fa-calendar-alt mr-1 text-pink-500"></i>07/2021 - 09/2022</span>
          <span><i class="fas fa-map-marker-alt mr-1 text-pink-500"></i>Greater Noida, India</span>
        </div>
  
        <p class="text-gray-300 mb-4">
          Maintained and enhanced SaaS web applications using React, Angular, TypeScript, and SQL, improving stability and user experience for thousands of users
        </p>
        <p class="text-gray-300 mb-4">
          Redesigned landing pages with CSS3, Material UI, and Tailwind CSS, boosting user engagement by 20%.
        </p>
        <p class="text-gray-300 mb-4">
          Deployed microservices using Docker and AWS, reducing deployment times by integrating automation into deployment workflows.
        </p>
        <p class="text-gray-300 mb-4">
          Implemented and optimized CI/CD pipelines with GitHub Actions, automating tests and deployments to accelerate release cycles and ensure high reliability.
        </p>
      
  
        <div class="flex flex-wrap gap-2">
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Frontend and UI/UX Design</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Backend</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">REST API</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Node.js</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">React.js</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Angular</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">TypeScript</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">CI/CD Pipelines</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">GitHub Actions</span>
          <span class="bg-gray-700 text-sm px-3 py-1 rounded-full">Agile</span>
        </div>
      </div>


    </div>
  </div>
  